body {
    background-color: #f8fdd4;
    /* Light greenish background */
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(156, 140, 21);
    box-shadow: inset 2px 2px 5px 10px rgb(156, 140, 21);
    /* height: 439px;
    width: 593px; */
}

.thank-you-card {
    background-color: #a0e79c;
    /* Green background for the card */
    padding: 20px 40px;
    border-radius: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    box-shadow: inset 0px 0px 0px 25px rgb(132, 55, 184);
}

.thank-you-card h4 {
    font-weight: 700;
    color: #333;
    /* margin-bottom: 10px; */
    /* --bs-bg-opacity: 1; */

}

.thank-you-card p {
    color: #555;
    margin: 0;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgb(137 251 121) !important;
}